# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
 
# Maven
log/
target/

# This prevents the private information in "application-local.properties" to be pushed to GitHubb
# Enviromental Variables i.e. Username, Password
src/main/resources/application-local.properties
